<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Onibus da sua região</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list>
  <p
    [id]="onibus.placa"
    class="paragrafo"
    *ngFor="let onibus of listaOnibus"
  >
    <b class="espacamento"> Tem vaga? </b>
    <label>{{ onibus.estaLotado ? "Não" : "Sim" }} - </label>
    <b class="espacamento"> Linha: </b>
    <label> {{ onibus.identificacao }} - </label>
    <b class="espacamento"> Sentido de ida: </b>
    <label> {{ onibus.sentidoIda }} </label>
    <b class="espacamento"> com Sentido de volta: </b>
    <label> {{ onibus.sentidoVolta }} </label>
  </p>
</mat-nav-list>
